.main-content{
    margin-top: 15px;
    background-color: var(--white-bg);
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
}
.admin-message{
    padding-right: 10px;
}
.user-message{
    padding-left: 10px;
}