.form-field .col-inner .form-group {
    padding-right: 10px;
    margin-bottom: 0;
}
.btn-list {
    .btn-success {
        margin-right: 10px;
    }
}

.report-table table thead tr th, .report-table table tbody tr td{
    color: #4665a0;
    font-weight: 500;
}