.form-field .col-inner .form-group {
    padding-right: 15px;
    margin-bottom: 0;
}
.btn-list {
    .btn-success {
        margin-right: 10px;
    }
}
.filter-tab .report-table {
    margin-top: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0 0 10px;
}
.report-page .filterDiv .form-check label {
    color: #2370b0;
    font-weight: 500;
}
.filter-tab {
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    margin-top: 0;
    background-color: var(--white-bg);
    border-radius:4px;
    overflow: hidden;
}
.filter-tab .nav-tabs {
    background-color: #f1f7fc;
    border-bottom: none;
}
.filter-tab .nav-tabs .nav-link.active {
    border: none;
    background-color: #fff;
    color: #4475cf;
    font-weight: 600;
    border-bottom: 2px solid #4475cf !important;
}
.filter-tab .nav-tabs .nav-link {
    color: #4475cf;
    background-color: #f1f7fc;
    border-bottom: 2px solid #f1f7fc;
    border-radius: 0;
    font-weight: 500;
    font-size: 13px;
    border: none !important;
    text-transform: uppercase;
    line-height: 32px;
}
.right-tab-panel {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 70px);
}
.left-tab-panel {
    display: inline-block;
    width: 70px;
    padding-top: 44px;
}
::ng-deep .tooltip-inner{
    background-color: var(--blue-bg);
    opacity: 1;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}
::ng-deep .arrow::before{
    position: absolute;
    bottom: 0;
    left: auto;
    right: calc(50% - 7px);
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-top-color: var(--blue-bg);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1104;
    top:32px;
}
.tab-content .filterDiv {
    margin-top: 0;
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
}
.tab-content .main-panel .left-tab-panel table {
    width: 100%;
}
.tab-content .report-table,
.tab-content .main-panel .left-tab-panel table tbody tr {
    background-color: #fff;
}
.tab-content .main-panel .left-tab-panel table tbody tr td{
    border: none;
    font-size: 13px;
    font-weight: 600;
    text-align: right;
}
// #nav-balance .report-table .table {
//     width: auto;
// }
#nav-balance .report-table .table tr:first-child td {
    border-top: 1px solid #ccc;
}
.report-page .filterDiv .form-select, .report-page .filterDiv .form-select:focus, .report-page .filterDiv .form-control, .report-page .filterDiv .form-control:focus, .report-page .filterDiv .form-attribute, .report-page .filterDiv .form-attribute:focus, .report-page .filterDiv .ng-select .ng-select-container{
    color: #508fc8;
}
#nav-balance .report-table .table tr td:first-child {
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}
.tab-content nav {
    padding: 0;
}
// .tab-content nav .nav-tabs {
//     background-color: transparent;
// }
.tab-content .filterDiv .form-check{
    line-height: 34px;
    margin-bottom: 0;
}
.tab-content .totla-value {
    padding: 10px 15px 0;
}
.form-check label:before{
    background-color: #fff;
}
.form-check input:checked + label:before{
    background-color: var(--blue-bg);
}
.report-table .cell-event-title {
    font-weight: 600;
    text-align: left;
    font-size: 14px;
}
.report-table .cell-event-title .inplay-info {
    color: var(--positive);
    padding-left: 10px;
}
// #nav-netExp .form-check p {
//     margin-bottom: 0;
// }
// #nav-netExp .table tr th {
//     border: none;
//     text-align: center;
// }
// #nav-netExp .table tbody tr:nth-child(1) {
//     background-color: var(--white-bg);
// }
// #nav-netExp .table tbody tr:nth-child(1) td{
//     text-align: left;
// }
// #nav-netExp .table tbody tr {
//     background-color: #efefef;
// }
// #nav-netExp .report-table .table tr {
//     border: 1px solid #dfdfdf;
// }
// #nav-netExp .table tbody tr td {
//     border: none;
//     text-align: center;
// }
.icon-group-cell .icon-group li {
    display: inline-block;
    padding: 0 2px;
}
.icon-group-cell .icon-group{
    text-align: right;
}
.info-label-container {
    display: inline-block;
    margin-left: 10px;
}
.icon-group-cell .icon-group li a i {
    color: #ffffff;
    background-color: #1b4b91;
    padding: 5px;
    border-radius: 2px;
}
.red{
    color: red;
}
.green {
    color: green;
}
.report-page .filterDiv .form-check label:after {
    border: 2px solid #ffffff;
    color: white;
    border-width: 0 2px 2px 0;
}
.openBetFilterDiv{
    padding:5px;
}
.page-title .nav-list {
    vertical-align: middle;
    display: inline-block;
}
.hierarchy{
    margin-bottom: 0;
      /* mouse over link */
      padding-left: 10px;
      padding-right: 30px;
      padding-bottom: 0;
      span{
          &:last-child{
              i{
                  display: none;
              }
          }
      }
      a{
        color:#fff;
     
      }
      a:hover {
        color: #195991;
      }
}