
.password-box {
  opacity: 1;
  border: 2px solid gray;
  width: 400px;
}

.change-password-section {
  margin-left: 221px;
}

.change-password-form 
{
min-height: 500px !important;
   
    /* min-width: 600px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-list{
  margin-top: 25px;
  .btn{
      width: 100%;
      background-color: var(--dark-bg);
      color: var(--logo-light-color);
  }
}

.red-message {
  color: red;
}