.loginPage {
  display: table;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color:  rgb(6 103 207 / 27%);
  background:  rgb(6 103 207 / 27%) url('/assets/images/cricket-banniere.jpg') 100% 5% no-repeat;
  background-size: cover;
  .login-main{
      display: table-cell;
      vertical-align: middle;
      .logo{
          text-align: center;
        //   background-color: #195991;
          padding: 15px;
          border-radius: 4px 4px 0 0;
          img{
              max-width: 180px;
          }
      }
      .form-row{
          padding: 14px;
      }
      .login-inner {
          max-width: 360px;
          margin: 0 auto;
          background-color: #d7a9756b;
          padding: 0;
          border-radius: 10px;
          border-style: solid;
          box-shadow: 0px 3px 8px rgb(0 0 0 / 14%);
          height: 300px;
          .login-title {
              color: #195991;
          }

          
          .form-div{
              display: table;
              width: 100%;
              height: 100%;
              form{
                  display: table-cell;
                 // vertical-align: middle;
                  .login-title{
                      font-size: 30px;
                      line-height: 37px;
                      margin-bottom: 25px;
                      font-weight: 500;
                  }
                  .form-group.password:before{
                      //content: '\f084';
                  }
                  .form-group{
                      margin-bottom: 25px;
                      position: relative;
                      &:before {
                         // content: '\f003';
                          font-family: 'fontawesome';
                          position: absolute;
                          line-height: 40px;
                          width: 30px;
                          text-align: right;
                          color: #474747;
                          .form-label{
                              color: #003060;
                          }
                      }
                      .input-icons i {
                          padding: 10px 10px;
                          position: absolute;
                          left:90%;
                      }
                      .form-control {
                          // background: var(--white-bg) 0% 0% no-repeat padding-box;
                          // box-shadow: 0px 3px 16px #00000029;
                          // border-radius: 50px;
                          // border: none;
                          // height: 40px;
                          // padding-left: 40px;
                          // font-size: 13px;
                          // color: #474747;
                      }
                  }
                  .btn-list {
                      width: 100%;
                      display: inline-block;
                      //text-align: right;
                      //vertical-align: middle;
                      
                      .btn{
                          border-radius: 20px;
                          padding:0 30px;
                          box-shadow: none;
                          background: #8d2c2c;
                          width: 100% !important;
                         // background:none;
                         font-weight: 300;
                         &:hover{
                             color: #fff;
                             box-shadow: 0 2px 4px #ccc;
                              background-color: var(--blue-text);
                         }
                      }
                      .downloadapk{
                          color:#003060;
                          float:right;
                          span{
                              font-size: 8px;
                              color: #003060;
                          }
                      }
                  }
                  .checkbox {
                      width: 50%;
                      display: inline-block;
                      label {
                          font-size: 12px;
                          line-height: 12px;
                      }
                      input{
                          vertical-align: middle;
                          margin-top: -3px;
                      }
                  }
              }
          }
      }
  }
}

/*show password related CSS */
.right-addon .fa, .right-addon .fas { right: 0px; }
.right-addon input { padding-right: 30px; }
.hide {
  display: none;
}
.inner-addon { 
  position: relative; 
}
.inner-addon .fa, .inner-addon .fas {
position: absolute;
padding: 10px 10px;
z-index: 100;
cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .loginPage {
        display: table;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 103, 207, 0.27);
        background: rgba(6, 103, 207, 0.27) url(/assets/images/cricket-banniere.jpg) 16% 5% no-repeat;
        background-size: cover;
        .login-main {
            display: table-cell;
            vertical-align: middle;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
  }