<app-header [walletBalance]="walletBalance"></app-header>

<!-- <main>
    <div class="full-wrap" id="contentToConvert" #contentToConvert>
        <div class="report-page">
            <div class="user-list inner-content">

              <div class="card-header account-detail-head">
                Password History
              </div>

                <div class="card my-exchange-head">
                    <div class="card-body">
                        
                        <div class="table-filter">
                            <div class="col-inner">
                                <label>Items per page:</label>
    
                                <select name="betType" class="form-select" [(ngModel)]="itemsPerPage"
                                    [ngModelOptions]="{standalone: true}" aria-label="Default select example"
                                    (change)="setSelectedOption($event.target.value)">
                                    <option value="10" selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>

                            <div class="col-inner">
                                <label>Search:</label>
                                <input type="text" class="form-control" [(ngModel)]="searchQuery"
                                            (ngModelChange)="searchFilter()" [ngModelOptions]="{standalone: true}"
                                            placeholder="Search UserName">
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>UserName</th>
                                        <th>Remark</th>
                                        <th>Date & Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of historyData | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total_items };let i=index;">
                                        <td>{{list?.user_name}}</td>
                                        <td>{{list?.comment}}</td>
                                        <td>{{list?.createdAt | date :'dd-MM-yyyy hh:mm:ss aa'}}</td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="report-bottom-paginate">
                            <pagination-controls (pageChange)="pageChange($event)" class="user-list-pagination">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> -->


<div id="layoutSidenav" class="pt-3">
    <div id="layoutSidenav_content" class="p-0">
       <main>
          <div class="container-fluid px-3">
             <div class="header-tab bg-tab btr-5">
                <h3>Password Change History</h3>
             </div>
             <div class="table-profit">
                <div class="card mb-4">
                   <div class="card-body">
                      <table class="dataTable-table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                         <!-- <thead>
                            <tr>
                               <th class="text-center">User Name</th>
                               <th class="text-center">Remark</th>
                               <th class="text-center">Date & Time</th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let list of historyData | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: total_items };let i=index;">
                               <td class="text-center">
                                  <span class="text-uppercase">{{list?.user_name}}</span>
                               </td>
                               <td class="text-center">
                                  <span class="text-uppercase">{{list?.comment}}</span>
                               </td>
                               <td class="text-center">
                                  <span class="text-uppercase">{{list?.createdAt | date :'dd-MM-yyyy hh:mm:ss aa'}}</span>
                               </td>
                            </tr>
                            <tr *ngIf="historyData.length == 0">
                                No Records Found...
                            </tr>
                         </tbody> -->
                      </table>
                   </div>
                </div>
             </div>
          </div>
       </main>
    </div>
 </div>