// .form-field .col-inner .form-group {
//   padding-right: 10px;
//   margin-bottom: 5px;
// }
// .btn-list {
//   .btn-success {
//       margin-right: 10px;
//   }
// }
// .filter-btn{
//   padding-bottom: 10px;
// }
// .user-list-pagination {
//   float: right;

// }

// .select-option{
//   color: #000 !important;
// }

// main {
//   .container-fluid {
//       padding: 0 30px;
//   }
//   .row{
//       margin-right: -15px;
//       margin-left: -15px;
//       .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
//           padding-right: 15px;
//           padding-left: 15px;
//       }
//   }
// }
// .card-report{
//   padding:10px 30px 10px;
// }
// .filter-column {
//   width: 100%;
//   margin: 0 2px;
//   max-width: 180px;
// }
// .report-table {
//   background-color: var(--white-bg);
//   padding: 19px 10px 15px !important;
//   border-radius: 0 0 4px 4px;
//   box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
//   overflow-x: auto;
// }

.card-body {
  overflow-x: unset !important;
}

.commition-percentage {
  position: absolute;
  right: 335px;
  z-index: 999;
  div{
    padding-left: 0;
    &:nth-child(2){
      padding-right: 0;
    }
  }
}



@media (max-width: 991px) {
  .commition-percentage {
    right: 310px;
  }
}

@media (max-width: 890px) {
  .commition-percentage {
    right: 290px;
  }
}


@media (max-width: 870px){
  .my_calcu{
    left: 240px;
    right: 350px;
  }
}

@media (max-width: 740px){
  .my_calcu{
    left: 150px;
    right: 100px;
    bottom: 250px;
  }
}


@media (max-width: 640px){
  .my_calcu {
    bottom: 300px;
    left: 150px;
    right: 100px;
  }
}
@media (max-width: 575px){
  .my_calcu {
    left: 110px;
    right: 200px;
    bottom: 282px;
  }
  .my_btn button{
    margin-top: -55px;
    margin-right: -90px;
  }
  .my_btn{
    text-align: right;
  }
}


@media (max-width: 500px){
  .my_calcu{
    left: 90px;
    right: 180px;
    bottom: 282px;
  }
}


@media (max-width: 400px){
  .my_calcu{
    left: 70px;
    right: 160px;
    bottom: 282px;
  }
}

@media (max-width: 370px){
  .my_calcu{
    left: 70px;
    right: 160px;
    bottom: 315px;
  }
}


@media (max-width: 360px){
  .my_calcu{
    left: 70px;
    right: 160px;
    bottom: 335px;
  }
}
